# fly.toml app configuration file generated for mcp-tool-rag-query-v2-dev on 2026-02-11T20:07:36-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mcp-tool-rag-query-v2-dev'
primary_region = 'ewr'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
